*{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    overflow: hidden;
}

.main-div{
    display: flex;
    
}

.sidebar{
    background-color: black;
    border-radius: 0.5rem;
    height: 400px;
    width: 370px;
}

.main-content{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 100vh;
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
}

.media-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4.75rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.sections{
    height: 5.5rem;
    background-color: #121212;
    border-radius: 1.25rem;
    line-height: 2.5rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sections a {
    text-decoration: none;
}

.home {
    padding-left: 1rem;
}

.home a {
    padding-left: 1rem;
    color: white;
    font-weight: 500;
}

.home i {
    font-size: 1.25rem;
    color: white;
}

.search{
    padding-left: 1rem;
}

.search a {
    padding-left: 1rem;
    color: white;
    font-weight: 500;
}
.search i {
    font-size: 1.25rem;
    color: white;
}

.plus{
    color: white;
}

.lib-section {
    background-color: #121212;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    border-radius: 1.25rem;
    height: 100vh;
}

.lib-line {
    display: flex;
    justify-content: space-between;
}

.library {
    display: flex;
    justify-content: center;
}
.library a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    font-weight: 500;
}

.library img {
    height: 1.25rem;
    width: 1.25rem;
    padding-left: 1.25rem;
}

.cards{
    height: 105px;
    width: 343px;
    background-color: #232323;
    border-radius: 1.25rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-left: 0.34rem;
    color: white;
    line-height: 3.5rem;
}

.playlist {
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
    font-weight: 500;
}
.help {
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 450;
}

.btn-1{
    height: 2.25rem;
    width: 8rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    font-weight: 800;
    border: none;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    height: 3.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.arrows{
    display: flex;
    padding-top: 0.5rem;
    height: 2rem;
    width: 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
 
.whitebtn{
    display: flex;
    align-items: center;
}
.premium {
    height: 3rem;
    width: 9rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    font-weight: 600;
    border: none;
}

.app{
    height: 3rem;
    width: 8rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    border: none;
}
.men{
    height: 3rem;
    width: 3rem;
    color: white;
    border-radius: 2.5rem;
}

.nav{
    margin-right: 1rem;
}

.user-icon{
    color: white;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}

.Recently{
    color: white;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.card-4{
    background-color: #232323;
    padding: 0.5rem;
    width: 150px;
    border-radius: 0.5rem;
}

.cards-2{
    padding: 2rem;
}

.cards-2 h2{
    color: white;
}

.card-4 img{
    width: 100%;
    border-radius: 0.25rem;
}

.card-container{
    display: flex;
    margin-top: 0.5rem;
}
.card-title{
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.card-info {
    font-size: 0.75rem;
    color: white;
    padding-top: 0.25rem;
}

.card-58{
    background-color: #232323;
    padding: 0.5rem;
    width: 150px;
    border-radius: 0.5rem;
    display: none;
}

.card-58 img{
    width: 100%;
    border-radius: 0.25rem;
}

.card-5{
    background-color: #232323;
    padding: 0.5rem;
    width: 150px;
    border-radius: 0.5rem;
    
}

.card-5 img{
    width: 100%;
    border-radius: 0.25rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.media-player{
    margin-right: 50px;
}
.footer{
    height: 250px;
    display: flex;
    justify-content: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: solid 2px white;
    opacity: 0.7;

}

.album{
    display: flex;
    align-items: center;
    color: white;
    width: 25%;
    
}

.album img{
    height: 4rem;
    width: 4rem;
    padding: 0.35rem;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.75rem;
}
.naat{
    font-size: 1.25rem;
}
.atif{
    font-size: 0.75rem;
}

.heart i {
    margin-left: 0.25rem;

}

.icon58 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon58 img {
    height: 1rem;
    width: 1rem;
    padding-top: 1.25rem;
    padding-right: 1rem;
    opacity: 0.6;
}

.icon58 img:hover{
    opacity: 1;
}

.play-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.play-bar span {
    color: white;
}
.player{
    width: 50%;
}

.control{
    width: 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}

.line-bar{
    width: 70%;
    background-color: transparent;
    cursor: pointer;
}

.line-bar input::-webkit-slider-runnable-track{
    height: 0.15rem;
    background-color: #ddd;
    border-radius: 100px;
}
.line-bar input::-webkit-scrollbar-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1db760;
    border-radius: 50%;
    margin-bottom: -30px;
}

.control i {
    color: white;
    margin-right: 15px;
    
   
}